NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=***********

# GitHub OAuth
NEXT_PUBLIC_GITHUB_CLIENT_ID=***********

# Redirect Base URL (The base of your callback page)
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/api/auth/callback
